<vnsAbsGraph uiTemplateType="UNSPECIFIED" type="legacy" ownerTag="" ownerKey="" nameAlias="" name="2ARM-Template" dn="uni/tn-{{tenant_name}}/AbsGraph-2ARM-Template" descr="" annotation="" status="deleted">
</vnsAbsGraph>
