<vnsLDevVip trunking="no" svcType="ADC" promMode="no" packageModel="" nameAlias="" name="{{logicalDeviceCluster_name}}" mode="legacy-Mode" managed="no" isCopy="no" funcType="GoTo" dn="uni/tn-{{tenant_name}}/lDevVip-{{logicalDeviceCluster_name}}" devtype="VIRTUAL" contextAware="single-Context" annotation="" status="deleted">
</vnsLDevVip>
