<vnsLDevCtx nodeNameOrLbl="N1" nameAlias="" name="" graphNameOrLbl="2ARM-Template" dn="uni/tn-{{tenant_name}}/ldevCtx-c-{{logicalDeviceCluster_name}}-Contract-g-2ARM-Template-n-N1" descr="" ctrctNameOrLbl="{{logicalDeviceCluster_name}}-Contract" context="" annotation="" status="deleted">
</vnsLDevCtx>
