    
<fvAp prio="unspecified" ownerTag="" ownerKey="" name="{{tenant_name}}-APN" dn="uni/tn-{{tenant_name}}/ap-{{tenant_name}}-APN" descr="">
   <fvAEPg prio="unspecified" name="Provider-EPG" descr="" prefGrMemb="exclude" pcEnfPref="unenforced" matchT="AtleastOne" isAttrBasedEPg="no" fwdCtrl="">
      <fvRsProv prio="unspecified" matchT="AtleastOne" tnVzBrCPName="BIGIP-VE-Standalone-Contract" status="deleted"/>
   </fvAEPg>
   <fvAEPg prio="unspecified" name="Consumer-EPG" descr="" prefGrMemb="exclude" pcEnfPref="unenforced" matchT="AtleastOne" isAttrBasedEPg="no" fwdCtrl="">
      <fvRsCons prio="unspecified" tnVzBrCPName="BIGIP-VE-Standalone-Contract" status="deleted"/>
   </fvAEPg>
</fvAp>
