<vzBrCP descr="" dn="uni/tn-{{tenant_name}}/brc-BIGIP-VE-Standalone-Contract" name="BIGIP-VE-Standalone-Contract" ownerKey="" ownerTag="" prio="unspecified" scope="context" targetDscp="unspecified">
      <vzSubj consMatchT="AtleastOne" descr="" name="http" prio="unspecified" provMatchT="AtleastOne" revFltPorts="yes" targetDscp="unspecified">
         <vzRsSubjFiltAtt directives="" tnVzFilterName="default" />
         <vzRsSubjGraphAtt tnVnsAbsGraphName="2ARM-Template"/>
      </vzSubj>
</vzBrCP>
